In [2]:
import pandas as pd
import numpy as np

## Own Transformations

In [62]:
df = pd.read_csv("predictive_maintenance.csv")
df.head()

,UID,Machine ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,Tool Wear Failure,Heat Dissipation Failure,Power Failure,Overstrain Failure,Random Failures
0,1,M14860,Medium,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,Low,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,Low,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,Low,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,Low,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [63]:
df_copy = df

In [64]:
df_copy.loc[df_copy['Tool Wear Failure'] == 1, 'Machine failure'] = 1
df_copy.loc[df_copy['Heat Dissipation Failure'] == 1, 'Machine failure'] = 1
df_copy.loc[df_copy['Power Failure'] == 1, 'Machine failure'] = 1
df_copy.loc[df_copy['Overstrain Failure'] == 1, 'Machine failure'] = 1
df_copy.loc[df_copy['Random Failures'] == 1, 'Machine failure'] = 1

In [65]:
df_copy.loc[df_copy['Machine failure'] == 1]

,UID,Machine ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,Tool Wear Failure,Heat Dissipation Failure,Power Failure,Overstrain Failure,Random Failures
50,51,L47230,Low,298.9,309.1,2861,4.6,143,1,0,0,1,0,0
69,70,L47249,Low,298.9,309.0,1410,65.7,191,1,0,0,1,1,0
77,78,L47257,Low,298.8,308.9,1455,41.3,208,1,1,0,0,0,0
160,161,L47340,Low,298.4,308.2,1282,60.7,216,1,0,0,0,1,0
161,162,L47341,Low,298.3,308.1,1412,52.3,218,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9758,9759,L56938,Low,298.6,309.8,2271,16.2,218,1,1,0,0,0,0
9764,9765,L56944,Low,298.5,309.5,1294,66.7,12,1,0,0,1,0,0
9822,9823,L57002,Low,298.5,309.4,1360,60.9,187,1,0,0,0,1,0
9830,9831,L57010,Low,298.3,309.3,1337,56.1,206,1,0,0,0,1,0
9974,9975,L57154,Low,298.6,308.2,1361,68.2,172,1,0,0,1,1,0

In [66]:
df_x = df_copy.drop("Machine failure", axis = 1)
df_y = df["Machine failure"]

In [67]:
df_x['Machine failure'] = df_y
df_x.head()

,UID,Machine ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Tool Wear Failure,Heat Dissipation Failure,Power Failure,Overstrain Failure,Random Failures,Machine failure
0,1,M14860,Medium,298.1,308.6,1551,42.8,0,0,0,0,0,0,0
1,2,L47181,Low,298.2,308.7,1408,46.3,3,0,0,0,0,0,0
2,3,L47182,Low,298.1,308.5,1498,49.4,5,0,0,0,0,0,0
3,4,L47183,Low,298.2,308.6,1433,39.5,7,0,0,0,0,0,0
4,5,L47184,Low,298.2,308.7,1408,40.0,9,0,0,0,0,0,0

In [68]:
df_x.loc[df_x['Tool Wear Failure'] == 1, 'Tool Wear Failure'] = "Yes"
df_x.loc[df_x['Tool Wear Failure'] == 0, 'Tool Wear Failure'] = "No"

df_x.loc[df_x['Heat Dissipation Failure'] == 1, 'Heat Dissipation Failure'] = "Yes"
df_x.loc[df_x['Heat Dissipation Failure'] == 0, 'Heat Dissipation Failure'] = "No"

df_x.loc[df_x['Power Failure'] == 1, 'Power Failure'] = "Yes"
df_x.loc[df_x['Power Failure'] == 0, 'Power Failure'] = "No"

df_x.loc[df_x['Overstrain Failure'] == 1, 'Overstrain Failure'] = "Yes"
df_x.loc[df_x['Overstrain Failure'] == 0, 'Overstrain Failure'] = "No"

df_x.loc[df_x['Random Failures'] == 1, 'Random Failures'] = "Yes"
df_x.loc[df_x['Random Failures'] == 0, 'Random Failures'] = "No"

df_x.loc[df_x['Machine failure'] == 1, 'Machine failure'] = "Yes"
df_x.loc[df_x['Machine failure'] == 0, 'Machine failure'] = "No"

In [69]:
df_x["Power"] = df[["Rotational speed [rpm]", "Torque [Nm]"]].product(axis = 1)
df_x.head()

,UID,Machine ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Tool Wear Failure,Heat Dissipation Failure,Power Failure,Overstrain Failure,Random Failures,Machine failure,Power
0,1,M14860,Medium,298.1,308.6,1551,42.8,0,No,No,No,No,No,No,66382.8
1,2,L47181,Low,298.2,308.7,1408,46.3,3,No,No,No,No,No,No,65190.4
2,3,L47182,Low,298.1,308.5,1498,49.4,5,No,No,No,No,No,No,74001.2
3,4,L47183,Low,298.2,308.6,1433,39.5,7,No,No,No,No,No,No,56603.5
4,5,L47184,Low,298.2,308.7,1408,40.0,9,No,No,No,No,No,No,56320.0

In [70]:
df_x1 = df_x.drop(["Tool Wear Failure", "Heat Dissipation Failure", "Power Failure", "Overstrain Failure", "Random Failures", "Machine failure"], axis = 1)
df_x1.head()

,UID,Machine ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Power
0,1,M14860,Medium,298.1,308.6,1551,42.8,0,66382.8
1,2,L47181,Low,298.2,308.7,1408,46.3,3,65190.4
2,3,L47182,Low,298.1,308.5,1498,49.4,5,74001.2
3,4,L47183,Low,298.2,308.6,1433,39.5,7,56603.5
4,5,L47184,Low,298.2,308.7,1408,40.0,9,56320.0

In [71]:
df_x1["Tool Wear Failure"] = df_x["Tool Wear Failure"]
df_x1["Heat Dissipation Failure"] = df_x["Heat Dissipation Failure"]
df_x1["Power Failure"] = df_x["Power Failure"]
df_x1["Overstrain Failure"] = df_x["Overstrain Failure"]
df_x1["Random Failure"] = df_x["Random Failures"]
df_x1["Machine Failure"] = df_x["Machine failure"]

df_x1.head()

,UID,Machine ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Power,Tool Wear Failure,Heat Dissipation Failure,Power Failure,Overstrain Failure,Random Failure,Machine Failure
0,1,M14860,Medium,298.1,308.6,1551,42.8,0,66382.8,No,No,No,No,No,No
1,2,L47181,Low,298.2,308.7,1408,46.3,3,65190.4,No,No,No,No,No,No
2,3,L47182,Low,298.1,308.5,1498,49.4,5,74001.2,No,No,No,No,No,No
3,4,L47183,Low,298.2,308.6,1433,39.5,7,56603.5,No,No,No,No,No,No
4,5,L47184,Low,298.2,308.7,1408,40.0,9,56320.0,No,No,No,No,No,No

In [72]:
df_x1.to_csv("maintenance_dataset.csv", index = False)

## Read Data

In [79]:
df = pd.read_csv("maintenance_dataset.csv")

In [80]:
df.head()

,UID,Machine ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Power,Tool Wear Failure,Heat Dissipation Failure,Power Failure,Overstrain Failure,Random Failure,Machine Failure
0,1,M14860,Medium,298.1,308.6,1551,42.8,0,66382.8,No,No,No,No,No,No
1,2,L47181,Low,298.2,308.7,1408,46.3,3,65190.4,No,No,No,No,No,No
2,3,L47182,Low,298.1,308.5,1498,49.4,5,74001.2,No,No,No,No,No,No
3,4,L47183,Low,298.2,308.6,1433,39.5,7,56603.5,No,No,No,No,No,No
4,5,L47184,Low,298.2,308.7,1408,40.0,9,56320.0,No,No,No,No,No,No

In [81]:
df["Machine Failure"].value_counts()

No     9643
Yes     357
Name: Machine Failure, dtype: int64

In [82]:
df.isna().sum()

UID                         0
Machine ID                  0
Type                        0
Air temperature [K]         0
Process temperature [K]     0
Rotational speed [rpm]      0
Torque [Nm]                 0
Tool wear [min]             0
Power                       0
Tool Wear Failure           0
Heat Dissipation Failure    0
Power Failure               0
Overstrain Failure          0
Random Failure              0
Machine Failure             0
dtype: int64

In [83]:
df.dtypes

UID                           int64
Machine ID                   object
Type                         object
Air temperature [K]         float64
Process temperature [K]     float64
Rotational speed [rpm]        int64
Torque [Nm]                 float64
Tool wear [min]               int64
Power                       float64
Tool Wear Failure            object
Heat Dissipation Failure     object
Power Failure                object
Overstrain Failure           object
Random Failure               object
Machine Failure              object
dtype: object

## Label Encoding for Categorical values

In [87]:
## Drop unwanted Columns
df1 = df.drop(["UID", "Machine ID", "Tool Wear Failure", "Heat Dissipation Failure", "Power Failure", "Overstrain Failure",	"Random Failure"], axis = 1)
df1.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Power,Machine Failure
0,Medium,298.1,308.6,1551,42.8,0,66382.8,No
1,Low,298.2,308.7,1408,46.3,3,65190.4,No
2,Low,298.1,308.5,1498,49.4,5,74001.2,No
3,Low,298.2,308.6,1433,39.5,7,56603.5,No
4,Low,298.2,308.7,1408,40.0,9,56320.0,No

In [89]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df1['Type'] = le.fit_transform(df['Type'])
df1['Machine Failure'] = le.fit_transform(df['Machine Failure'])
df1.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Power,Machine Failure
0,2,298.1,308.6,1551,42.8,0,66382.8,0
1,1,298.2,308.7,1408,46.3,3,65190.4,0
2,1,298.1,308.5,1498,49.4,5,74001.2,0
3,1,298.2,308.6,1433,39.5,7,56603.5,0
4,1,298.2,308.7,1408,40.0,9,56320.0,0

## Splitting Dataset

In [90]:
X = df1.drop(["Machine Failure"], axis = 1)
y = df1["Machine Failure"]

In [91]:
from sklearn.model_selection import train_test_split

In [93]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

## Standard Scaling

In [94]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [95]:
scaling = ["Air temperature [K]", "Process temperature [K]", "Rotational speed [rpm]", "Torque [Nm]", "Tool wear [min]", "Power"]

In [96]:
X_train[scaling] = sc.fit_transform(X_train[scaling])
X_test[scaling] = sc.transform(X_test[scaling])

## Sampling Data

In [97]:
from imblearn.combine import SMOTEENN

In [99]:
# create the over-sampling and under-sampling object
smote_enn = SMOTEENN(sampling_strategy = 0.8, random_state = 42)

In [100]:
# resample the data
X_resampled, y_resampled = smote_enn.fit_resample(X_train, y_train)

In [101]:
y_resampled.value_counts()

0    6634
1    5690
Name: Machine Failure, dtype: int64

## Train Model

In [106]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [103]:
rf = RandomForestClassifier(random_state = 42)
rf.fit(X_resampled, y_resampled)

RandomForestClassifier(random_state=42)

In [105]:
rf_pred = rf.predict(X_test)

In [107]:
print(classification_report(y_test,rf_pred))

              precision    recall  f1-score   support

           0       0.99      0.96      0.98      2422
           1       0.39      0.79      0.53        78

    accuracy                           0.96      2500
   macro avg       0.69      0.88      0.75      2500
weighted avg       0.97      0.96      0.96      2500